:root {
    --primary: #111;
    --primary-rgb: 17, 17, 17;
    --danger: #dc3545;
    --secondary: #ccc;
    --light: #f8f9fa;
    --dark: #212529;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
    font-size: 17px;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--dark);
    background-color: var(--gray-300);
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

.container {
    background-color: var(--light);
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 3rem auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding: 2.5rem;
    }
}


header {
    text-align: center;
    margin-bottom: 2.5rem
}

h1 {
    font-size: 1.75rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

#description {
    padding: 0 1rem;
}

/* Form */
.form-control {
    margin-bottom: 1.25rem;
}

label, .label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.3125rem;
}

.label {
    font-size: 1.125rem;
}

.important {
    color: var(--danger);
}

.flex-label label {
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    font-size: 1rem;
    color: var(--gray);
    min-height: 2.375rem;
    padding: 0.5rem;
    border: 1px solid var(--gray-400);
    border-radius: 3px;
}

textarea {
    min-height: 5rem;
}

input[type="checkbox"],
input[type="radio"] {
    min-height: 1.125rem;
    min-width: 1.125rem;
    margin-right: 0.625rem;
}

.btn-submit {
    border: 0;
    width: 100%;
    padding: 0.625rem 2rem;
    background-color: var(--primary);
    color: var(--light);
    font-size: 0.85rem;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2rem;
    transition: border-radius 0.2s ease-in-out;
}

.btn-submit:hover {
    border-radius: 5px;
}